{% extends 'layout.html' %}
{% block title %} Formulario de calificaciones {% endblock title %}
{% block header %}<h1>Formulario de calificaciones</h1>{% endblock header %}
{% block body %}
<form method="POST">
    <label for="nota1">Nota 1 (10-70)</label>
    <input type="number" name="nota1" min="10" max="70" required><br><br>
    <label for="nota2">Nota 2 (10-70)</label>
    <input type="number" name="nota2" min="10" max="70" required><br><br>
    <label for="nota3">Nota 3 (10-70)</label>
    <input type="number" name="nota3" min="10" max="70" required><br><br>
    <label for="asistencia">Asistencia(%) </label>
    <input type="number" name="asistencia" min="0" max="100" required><br><br>
    <input type="submit" value="Enviar">
</form>
{% if resultado %}
    <p>{{ resultado }}</p>
{% endif %}
{% endblock body %}
